<h1>Word Counter</h1>

<form action="/project/results" method="post">
  <label for="inputWord">Enter a word.</label>
  <input name="inputWord" class="form-control" id="inputWord">
  <br>
  <br>
  <label for="inputSentence">Enter a sentence.</label>
  <input name="inputSentence" class="form-control" id="inputSentence">
  <br>
  <br>

  <button type="submit" class="btn btn-success">Go</button>

</form>
