@{
  Layout = "_Layout";
}

<div class="row">
<div class="col-md-12">
<h1>Word Counter</h1>
</div>
</div>
<div class="row">
<div class="col-md-6">
<form action="/project/results" method="post">
  <label for="inputWord">Enter a word.</label>
  <input name="inputWord" class="form-control" id="inputWord">
</div>
<div class="col-md-6">
  <label for="inputSentence">Enter a sentence.</label>
  <input name="inputSentence" class="form-control" id="inputSentence">
</div>
</div>
<div class="row">
<div class="col-md-3">
  <button type="submit" class="btn btn-success">Go</button>
  <button type="reset" class="btn btn-danger">Reset</button>
</div>
<div class="col-md-9">
  <a href="https://github.com/aniamatali" target=_blank><img src="/images/Aisaac01.png" width="150px"></a>
</div>
</div>
</form>
