@{
  Layout = "_Layout";
}

<div class ="row">
<div class ="col-md-12">
<h2>@Model.Counts()</h2>
</div>
</div>
<div class="row">
<div class ="col-md-12">
<img src="/images/Aisaac01.png" width="150px">
</div>
</div>
